  .modal {
    width: 100vw;
    background: #DEDEDE;
  }
  iframe{
    margin-top: 2px;
    height: 480px;
    width: 100vw;
    background: transparent;
  }
.titulo_atividade{
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  color: #0078be;
    font-size: 30px;
}
.modal-content{
  background: #DEDEDE;
}
.btn_close{
  position: relative;
  width: 220px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border: 1px solid #b4b4b4;
  margin-top: 20px;
  margin-left: 65vw;
  }
.btn_close:hover{
  background: #192A6B;
  color: #fff;
}
.btn_close:focus{
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
