<div class="modal" id="modal_cadastro_sucesso" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body2">
          <div class="login" layout="row" layout-align="center center">
            <div class="titulo__login">
              <h1>Cadastro concluído com sucesso!</h1>
            </div>
            <a href="#" (click)="close()" class="close" data-dismiss="modal" ><i class="material-icons md-24" >close</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
