<style>
  .containers {
  display: block;
  margin-left: -36px;
  justify-content: space-around;
}
.grafico{
  width: 700px !important;
  height: 700px !important;
}
.btn_mais{
  margin-left: auto;
  margin-right: auto;
}
.cont{
  margin-top: 25px;
  margin-left:5vw;
}
.teste{
  width: 155px;
}

.carrousel {
  margin-top: 9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  height: 39px;
  border-radius: 20px;
}
.highlight {
  background: #93C547;
  border-radius: 20px;
  color: #FFFFFF;
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  padding: 4px 8px;
}

.materiais_digitais {
  max-width: 1280px;
  width: 100vw;
}

.conteudo_materiais {
  height: 120px;
  width: 90vw;
  margin-left: 75px;
  margin-right: auto;
}

.titulo_materiais {
  position: relative;
  width: 430px;
  height: 32px;
  left: 1.2vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #192A6B;
}

.mat {
  margin-left: -0.2vw;
  margin-top: 32px;
}


.anos_iniciais {
  width: 129px !important;
  height: 40px !important;
}
.componente {
  width: 262px;
  height: 40px;
}

.ano {
  width: 120px;
  height: 40px;
}

.carrosel_conteudo {
  height: 58px;
  width: 100%;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  box-sizing: border-box;
}
@media (max-width: 5500px) {
  .materiais_digitais {
    margin-top: -6vw;
  }
}
@media (max-width: 4000px) {
  .materiais_digitais {
    margin-top: -8vw;
  }
}
@media (max-width: 3200px) {
  .materiais_digitais {
    margin-top: -12vw;
  }
}
@media (max-width: 2400px) {
  .materiais_digitais {
    margin-top: -16vw;
  }
}
@media (max-width: 2200px) {
  .materiais_digitais {
    margin-top: -16vw;
  }
}
@media (max-width: 2000px) {
  .materiais_digitais {
    margin-top: -18vw;
  }
}
@media (max-width: 1800px) {
  .materiais_digitais {
    margin-top: -21vw;
  }
}
@media (max-width: 1600px) {
  .materiais_digitais {
    margin-top: -21vw;
  }
}
@media (max-width: 1400px) {
  .cont{
    margin-left: 2vw;
  }
}
@media (max-width: 1300px) {
  .materiais_digitais {
    margin-top: -17vw;
  }
  .cont{
    margin-left: 2vw;
  }
}

@media (max-width: 770px) {
  .cont{
    margin-left: 2vw;
  }
  .materiais_digitais {
    margin-top: -20vw;
  }
}

@media (max-width: 640px) {
  .materiais_digitais {
    margin-top: -15vw;
  }
  .mat{
      margin-left: -4.1vw;
      margin-top: 38px;
  }
}

@media (max-width: 686px) {
  .conteudo_materiais {
    height: 120px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .containers{
    margin-left: -91px;
  }
  .titulo_materiais {
    width: 380px;
    top: 30px;
    font-size: 24px;
  }
  .componente {
    margin-top: 48px;
    margin-left: -127px;
  }

  .ano {
    margin-top: 96px;
    margin-left: -261px;
  }

  .carrosel_conteudo {
    margin-top: 105px;
  }

}
@media (max-width: 500px) {

}
@media (max-width: 300px) {
  .titulo_materiais {
    top: 30px;
    font-size: 20px;
  }
  .mat {
    margin-left: -7vw;
    margin-top: 35px;
  }
  .cont{
    margin-left: 6vw;
  }
}

.card_conteudo{
  width: 256px;
  height: 160px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
}
.card_conteudo:hover{
  background: #93C547;
  border: 1px solid #CECECE;
  .component_card{
    display: none;
  }
  .card_open{
    display: block;
    cursor: pointer;
  }
}
.card_conteudo_islogged{
  width: 256px;
  height: 160px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
}
.card_conteudo_islogged:hover{
  background: #192A6B;
  border: 1px solid #CECECE;
  .component_card{
    display: none;
  }
  .card_open{
    display: block;
    cursor: pointer;
  }
}
.nome_conteudo{
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  width: 203px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #313131;
}
.img_carrousel {
  max-width: 80%;
  max-height: 80%;
  margin-top: 30px;
  width: 15%;
  height: 15%;
}
.tipo_conteudo{
  margin-top: 110px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #5E5E5E;
}
.card_open{
  display: none;

}
.padlock{
  margin-top: 46px;
}
.open{
  margin-top: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.openCadastro{
  margin-top: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.btn_mais {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 292px;
  height: 43px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6E6E6E;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.btn_mais:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}




  @media (max-width: 870px) {
    .btn_mais {
      margin-left: 17vw;
    }
    }
    @media (max-width: 300px) {
      .btn_mais {
        margin-left: 2vw;
        width: 270px;
        height: 43px;
      }
      .form-row{
        margin-left: 2vw;
      }
      }
      .modal {
        width: 100vw;
        background: #DEDEDE;
      }
      iframe{
        margin-top: 2px;
        height: 480px;
        width: 100vw;
        background: transparent;
      }
    .titulo_atividade{
      margin-top: 13px;
      margin-left: auto;
      margin-right: auto;
      color: #0078be;
        font-size: 30px;
    }
    .modal-content{
      background: #DEDEDE;
    }
    .btn_close{
      position: relative;
      width: 220px;
      height: 40px;
      cursor: pointer;
      background-color: #fff;
      color: #333;
      border: 1px solid #b4b4b4;
      margin-top: 20px;
      margin-left: 65vw;
      }
    .btn_close:hover{
      background: #192A6B;
      color: #fff;
    }
    .btn_close:focus{
      outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }





  @media (max-width: 1000px) {
    .cont{
      margin-left: 18.7vw;
    }
  }


  #conte .ng-tns-c49-1 {
    width: 145px;
  }

</style>
<div class="materiais_digitais">
  <div class="conteudo_materiais">
    <h1 class="titulo_materiais" id="matDigitais">INDICADORES ODS 3</h1>
  </div>
  <div class="form-row cont" style="text-align: center;">
    <div *ngFor="let conteudo of conteudos" class="form-group col-md-3">
      <div class="card_conteudo">
        <div class="component_card">
          <p class="tipo_conteudo"></p>
          <h1 class="nome_conteudo">{{conteudo.descricao}}</h1>
        </div>
        <div class="card_open">
          <h1 (click)="openModalIndicador(conteudo.codigo, conteudo.descricao)" class="open">+ INFORMAÇÕES</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12 d-md-flex justify-content-md-center">
      <button type="button" id="vermais" (click)="VerMais()" class="btn_mais">ver mais</button>
      <button type="button" id="vermenos" (click)="VerMenos()" class="btn_mais">ver menos</button>
    </div>
  </div>
  <div class="modal" id="modal_conteudo" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-content" style="border: none;">
      <h1 class="titulo_atividade">{{titulo}}</h1>
      <div id="frame">
      <button (click)="dadostabela()"  type="button" class="btn btn btn-success">TABELA</button>
      <button (click)="dadosgrafico()"  type="button" class="btn btn-primary">GRAFICOS</button>
    </div>
    <div id="tabela">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Região</th>
            <th scope="col" *ngFor="let item of anos">{{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of regiao">
            <th scope="row">{{r}}</th>
            <td *ngFor="let ano of anos">{{obterConsumo(r, ano)}}</td>
          </tr>


        </tbody>
      </table>
    </div>
    <div id="grafico">
      <select class="form-select" aria-label="Default select example" id="selectRegiao" (change)="changeComponente()">
        <option selected>Selecione uma região</option>
        <option *ngFor="let item of returnInd" value="{{item.regiao}}">{{item.regiao}}</option>
      </select>
      <div class="grafico">
      <canvas id="canvas"></canvas>
    </div>
    </div>
      <div class="fechar">
        <button data-dismiss="modal" type="button" class="btn_close">Fechar</button>
      </div>
    </div>
  </div>

</div>
